<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hello <%= @user.first_name %></h1>
    <p>
      <%= @project.name %> has successfully reached its funding goal %>
    </p>
    <p>Thanks for helping make <%= @project.name %> a reality. Have a great day!</p>
    <p>Sincerely, CrowdFunder</p>
  </body>
</html>