<div class="row">
  <div class="large-12 columns">
    <h2><%= @user.name %></h2>
    <%= render partial: 'shared/comments_section', locals: {comments: @user.comments, commentable: @user} %>
  </div>
</div>